<html>
    <head>
    <title>What to watch on MemoCast</title>
    </head>
    <body>
    <p>Долгие томные вечера?<br />
    Как найти что посмотреть?<br />
    Где найти что посмотреть?</p>

    <p>На <a href="https://www.memocast.com/video/mech-2009-2015-2-season-20-seriya" target=\"_blank\"><u>MemoCast</u></a> есть ответы на все эти вопросы.</p>
    <p>Интересуетесь современным российским кино? Вы можете найти его у нас:<br />
        <a href="https://www.memocast.com/video/holop-2019-5e575349ef3225db9ce0e907" target=\"_blank\"><u>Холоп (Комедия, 2019)</u></a><br />
        <a href="https://www.memocast.com/video/magomaev-2019-1-season-1-seriya" target = \"_blank\"><u>Магомаев (Драма, 2019)</u></a><br />
        <a href="https://www.memocast.com/video/koma-2020-5e6affe0f2165ad9ac5962e3" target = \"_blank\"><u>Кома (Приключения, 2020)</u></a></p>
    <p>Посмотрите хитовые современные сериалы и фильмы:<br />
        <a href="https://www.memocast.com/video/soderzhanki-2019-2020-1-season-1-seriya" target = \"_blank\"><u>Содержанки (Триллер, 2019-2020)</u></a><br />
        <a href="https://www.memocast.com/video/narko-meksika-2018-2020-1-season-1-seriya" target = \"_blank\"><u>Нарко: Мексика (Драма, Криминальный, 2018-2020)</u></a><br />
        <a href="https://www.memocast.com/video/luchshe-zvonite-solu-2015-2020-1-season-1-seriya" target = \"_blank\"><u>Лучше звоните Солу (Драма, Криминальный, 2015-2020)</u></a><br />
        <a href="https://www.memocast.com/videos/tag/Полицейский" target = \"_blank\"><u>Полицейский с Рублёвки</u></a></p>
    <p>Покопайтесь в архивах памяти и ностальгии:<br />
        <a href="https://www.memocast.com/video/zdravstvui-eto-ya-1965-595dedcf621726048a8c8ed4" target = \"_blank\"><u>Здравствуй, это я (Драма, 1965)</u></a></p>
    <p>Американское современное:<br />
        <a href="https://www.memocast.com/video/21-most-2019-5e6ca3ed272078d7e8c69998" target = \"_blank\"><u>21 мост (Приключения, Драма, Триллер, Криминальный, 2019)</u></a><br />
        <a href="https://www.memocast.com/video/mandalorets-2019-1-season-1-seriya" target = \"_blank\"><u>Мандалорец (Приключения, Фантастика, 2019)</u></a></p>
    <p>Турецкий кинематограф:<br />
        <a href="https://www.memocast.com/videos/turkish-serials" target = \"_blank\"><u>Турецкие сериалы</u></a></p>
    <p>Да или просто посмеяться над глупостями:<br />
        <a href="https://www.memocast.com/video/milodrama-2019-1-season-1-seriya" target = \"_blank\"><u>Мылодрама (Комедия, 2019)</u></a></p>
    <p style="font-weight: bold;">Две недели бесплатного просмотра!<br />
    MemoCast Team</p>
</body>
</html>